header{
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: blueviolet;
  height: 220px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content:space-around;
  margin-bottom: 20px;
}

.hero{
  padding: 5px 20px;
}

h3{
  color: green;
}